.modal-message {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;

  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close {
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZyBpZD0iOTk3YjQxMWQiIGNsaXAtcGF0aD0idXJsKCM3NmFkYzI0MikiPgogICAgPGcgaWQ9ImE5MWRiYTU2Ij4KICAgICAgPGcgaWQ9ImI5M2IyMGVmIj4KICAgICAgICA8ZyBpZD0iNTY1ZjkwMmUiPgogICAgICAgICAgPHBhdGggaWQ9IjhkNWJmOWIwIiBkPSJNOSA3LjM0ODU1TDE2LjM0ODUgMEwxOCAxLjY1MTQ1TDEwLjY1MTUgOUwxOCAxNi4zNDg1TDE2LjM0ODUgMThMOSAxMC42NTE1TDEuNjUxNDUgMThMMCAxNi4zNDg1TDcuMzQ4NTUgOUwwIDEuNjUxNDVMMS42NTE0NSAwTDkgNy4zNDg1NVoiIGZpbGw9IndoaXRlIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgICA8L2c+CiAgICA8L2c+CiAgPC9nPgogIDxkZWZzPgogICAgPGNsaXBQYXRoIGlkPSI3NmFkYzI0MiI+CiAgICAgIDxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgZmlsbD0id2hpdGUiPjwvcmVjdD4KICAgIDwvY2xpcFBhdGg+CiAgPC9kZWZzPgo8L3N2Zz4=");
    background-size: cover;
    position: absolute;
    top: 18px;
    right: 18px;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: rotate(180deg);
      opacity: 1;
    }
  }

  &__content {
    width: 100%;
    max-height: 95%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modals-reg {
    display: block !important;
    width: 100%;
    max-width: 390px;
    background: #fff;
    border-radius: 0 0 20px 20px;
    display: none;
    padding: 30px;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  .modals__header-title {
    color: #333;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 25px;
    text-align: center;
  }
}

// info-message
.info-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 390px;
  padding: 15px 30px;
  text-align: center;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  position: relative;

  &__title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
    span {
      color: #fe30ab;
    }
  }
}

@media (max-width: 480px) {
  .info-message {
    padding: 15px 25px;
    border-radius: 10px 10px 0 0;
  }

  .info-message__title {
    font-size: 24px;
  }

  .modal-message .modals-reg {
    padding: 25px;
    border-radius: 0 0 10px 10px;
  }
}

@media (max-width: 375px) {
  .modal-message .modals__header-title {
    font-size: 28px;
    margin-bottom: 15px;
  }
}
